@import "./variables";

.btn-more {
  padding: 6px;
  .icon {
    margin: 0;
  }
  &::after {
    content: none;
  }
}

.navigation {
  background-color: white;
  padding: 16px 0;
  box-shadow: 0 1px 0 $gray-200;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 36px;
    }
  }
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-transition: none;
  transition: none;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($gray-900, 0.3);
  z-index: 999;
  .modal-content {
    max-width: 540px;
  }
}

.loading-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto 0;
    max-width: 360px;
    .spinner {
      color: #206bc4;
    }
    p {
      margin: 14px 0 0;
    }
  }
}
