.btn-more {
  padding: 6px;
}

.btn-more .icon {
  margin: 0;
}

.btn-more::after {
  content: none;
}

.navigation {
  background-color: white;
  padding: 16px 0;
  -webkit-box-shadow: 0 1px 0 #e9ecef;
          box-shadow: 0 1px 0 #e9ecef;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation .container .logo {
  height: 36px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-transition: none;
  transition: none;
}

.modal-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  max-width: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.3);
  z-index: 999;
}

.modal-dialog .modal-content {
  max-width: 540px;
}

.loading-page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.loading-page .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 0;
  max-width: 360px;
}

.loading-page .content .spinner {
  color: #206bc4;
}

.loading-page .content p {
  margin: 14px 0 0;
}

.Home .container {
  width: 100%;
  max-width: 1080px;
}

.home .page-header {
  padding: 60px 0 40px;
}

.home .page-header .d-none {
  display: block !important;
}

.home .table-responsive {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  overflow: hidden;
}

.home .table-responsive .table thead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home .table-responsive .table thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home .table-responsive .table thead tr th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 14px;
  color: #6c757d;
  font-size: 12px;
}

.home .table-responsive .table thead tr th:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .table-responsive .table tbody {
  border-top-width: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .table-responsive .table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home .table-responsive .table tbody tr td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 14px;
  line-height: 20px;
}

.home .table-responsive .table tbody tr td:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .table-responsive .table tbody tr .td_status {
  min-width: 158px;
}

.home .table-responsive .table tbody tr:last-child td {
  border-bottom: none;
}

.home .table-responsive .table tbody .dropdown .automation-status {
  padding-left: 10px;
}

.home .table-responsive .table tbody .dropdown .automation-status-icon {
  margin-right: 10px;
}

.new .container {
  max-width: 680px;
  overflow: hidden;
}

.new .steps {
  margin-bottom: 0;
}

.new .steps .step-item::before {
  background: #206bc4;
}

.new .steps .step-item::after {
  background: #206bc4;
}

.new .steps .step-item.active::before {
  background: white;
  border-color: #206bc4;
}

.new .steps .step-item.active::after {
  background: #206bc4;
}

.new .steps .step-item.active ~ ::before {
  border-color: #dee2e6;
}

.new .steps .step-item.active ~ ::after {
  background: #dee2e6;
}

.new .step-content {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new .step-content h2,
.new .step-content p {
  text-align: center;
}

.new .step-content p {
  margin-bottom: 0;
}

.new .step-content .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.new .step-content .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.new .collected-data-type .content label {
  width: 100%;
  margin: 0;
}

.new .collected-data-type .content label .form-selectgroup-label {
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  color: #212529;
}

.new .collected-data-type .content label .form-selectgroup-label .icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.new .collected-data-type .content label .form-selectgroup-label span {
  font-weight: 400;
}

.new .collected-data-type .content label:first-child {
  margin-right: 14px;
}

.new .collected-data-type .content label input:checked + .form-selectgroup-label {
  color: #206bc4;
  -webkit-box-shadow: 0 0 0 1px #206bc4;
          box-shadow: 0 0 0 1px #206bc4;
}

.new .select-spreadsheet .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new .select-spreadsheet .content .select-sepreadsheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.new .select-spreadsheet .content .select-sepreadsheet .select-btn {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new .select-spreadsheet .content .select-sepreadsheet .dropdown-menu {
  top: 44px;
  width: 100%;
}

.new .select-spreadsheet .dropdown-menu {
  display: none;
  visibility: visible;
}
/*# sourceMappingURL=main.css.map */